<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sofia.buitrago/Documents/BeforeAfterTestNGLogin/src/test/java">
        <classes>
                <class name="Login"/>
                <class name="Register"/>
                <class name="Search"/>

        </classes>
    </test>
</suite>